.button {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;

    &:hover {
        opacity: .9;
    }

    &:active {
        box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
    }
}