.container {
    background-image: url(../../assets/images/banner/bannerContact.png);
    max-width: 1440px;
    margin: 0 auto;
    height: 665px;
}

// .block {
//     padding: 10px;
//     background: #2E2B2C;
//     box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
//     border-radius: 15px;
// }