.container {
    margin: 0 auto;
    max-width: 1210px;
    display: flex;
    flex-direction: column;
    font-family: "Gilroy";
    color: #FFFFFF;
}
.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    font-family: "Gilroy";
    padding-left: 20px;
    border-left: 4px solid #618967;
    margin-bottom: 50px;
}

.blockAccordion {
    display: flex;
}

.map {
    width: 640px;
    height: 485px;
    margin-left: 20px;
}

.blockSchedule {
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.section_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 10px;
}

.section_time {
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    color: #CFCFCF;
}

.section_description {
    max-width: 700px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    color: #CFCFCF;
    padding-bottom: 37px;
}