
.ul {
    display: flex;
    padding-left: 85px;
}

.li {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 40px;
    cursor: pointer;
}

@media (max-width: 1165px) {
    .ul {
        padding-left: 40px;
    }
    
    .li {
        font-size: 18px;
        padding-right: 20px;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .navigationMenu {
        display: flex;
        position: absolute;
        min-width: 100%;
        top: 99px;
        left: 0;
        background-color: #403C3B;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 100%;
    }
    
    .ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .li {
        height: 20px;
    }
}
