.container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px 0 30px 318px;
}

.back {
    display: flex;
    align-items: center;
    cursor: pointer;
    

    &__title {
        color: #FFFFFF;
        padding-left: 7px;
        font-family: "Gilroy";
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

    }
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Gilroy";
    padding-left: 20px;
    border-left: 4px solid #618967;
    margin-bottom: 50px;
}

.productsBusket {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.busketZero {
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}