.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-family: "Gilroy";
}

.button {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    height: 44px;

    &:hover {
        opacity: .9;
    }

    &:active {
        opacity: .5;
    }
}

.cart {
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 0px 10px;
}

.icon {
    padding-right: 10px;

}

.buttonCount {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 20px;
    padding: 0px 22px;
    font-size: 30px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;

    &:hover {
        opacity: .9;
    }

    &:active {
        opacity: .5;
    }

}

.count {
    border-radius: 50%;
    background-color: #79B282;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
}